/* CSS reset by https://piccalil.li/blog/a-modern-css-reset/ */

:root {
  --primary-color: #fdf6e3;
  --secondary-color: #e9c46a;
  --accent-color: #264653;
  --secondary-accent: #2a9d8f;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  background-color: var(--accent-color);
  color: #000;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Main wrapper */

.main-container {
  height: 90vh;
  width: 90vw;
  margin: 20px auto;
}

/* header */

.nav-time {
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 1.2em;
  text-transform: uppercase;
  margin: 0 100px;
  font-weight: bold;
  color: #000;
}

/* Start page */

.start-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80vw;
  height: 80vh;
  margin-bottom: 50px;
}

.score-display-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-title,
.start-description {
  margin-bottom: 10px;
}

.start-description {
  font-size: 1.5em;
}

.start-button {
  border: none;
  border-radius: 40px;
  padding: 10px 30px;
  background-color: var(--secondary-accent);
  color: var(--primary-color);
  font-weight: bold;
}

.start-button:hover {
  background-color: var(--accent-color);
}

/* Quiz main body */

.main-body-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 95vh;
  padding-top: 50px;
  background-color: #e6e6e6;
  border-radius: 70px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 15px;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 50vh;
  width: 65vw;
}

.question-container {
  height: 100px;
}

.question-counter {
  font-size: 1.2em;
  text-align: center;
  color: var(--accent-color);
}

.question-text {
  font-size: 1.8em;
  color: var(--accent-color);
}

.choices-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 65px 0 100px;
}

.input-label {
  display: flex;
  order: 2;
}

.choices-input {
  margin-right: 10px;
}

.choice-input-label-container {
  display: flex;
  margin: 5px 0;
  padding: 15px 15px;
  width: 100%;
  background-color: var(--secondary-accent);
  border-radius: 40px;
  color: var(--primary-color);
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.choice-input-label-container:hover {
  background-color: var(--accent-color);
}

.btn-container {
  margin-bottom: 30px;
}

.nxt-btn {
  border: none;
  border-radius: 40px;
  padding: 10px 30px;
  background-color: var(--secondary-accent);
  color: #fff;
  font-weight: bold;
}

.nxt-btn:hover {
  background-color: var(--accent-color);
}

.score-display-container {
  display: flex;
  margin-top: 30px;
  color: var(--accent-color);
}

.high-scores-link {
  text-decoration: underline;
  color: var(--secondary-accent);
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .question-text {
    font-size: 1.2em;
  }
  .question-container {
    height: auto;
  }
  .nav-time {
    font-size: 1em;
    position: relative;
    margin-bottom: 20px;
  }
  .choices-container {
    margin: 20px 0;
  }
  .score-display-container {
    font-size: 0.75em;
  }
  .choice-input-label-container {
    padding: 8px;
    font-size: 1em;
  }
  .start-page-container p {
    font-size: 1em;
  }
}
